In [1]:
import json
import os
import pandas as pd
import numpy as np
path = os.getcwd()
from classes.Block import Block #the block class
from classes.Attribute import Attribute #the block class

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words('english'))
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/kalevkim/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
#TODO (put done if it is done)

#variables to create:
#all tokens of e1: val_e1_tokens ([str]) DONE
#all tokens of e1: val_e2_tokens [str] DONE
#Tokens in each entityProfile of E1 ({ "eP": ['token1', 'token2',...'tokenN']}): dict_E1 DONE
#Tokens in each entityProfile of E2 ({ "eP": ['token1', 'token2',...'tokenN']}): dict_E2 DONE
#sets of token set(tokenE1 + tokenE2): commonToken DONE
#Entities of E1 that contains a ct ∈ commonToken { "cT": [1,2,3,10,....]}: e1_dict_token DONE
#Entities of E2 that contains a ct ∈ commonToken { "cT": [101,102,103,110,....]}: e2_dict_token DONE
#Attributes of E1: all_att_e1 DONE
#Attributes of E2: all_att_e2 DONE


#make a class for the block: DONE
#create the class in a seperate python file/module (?) DONE
#Block needs a: name, ib1 (innerBlock1), ib2 (innerBlock2). if one of the ib ∈ IB is empty, a block
#of a token should not be created
#in addition, cardinality and block size


#stemming and cleaning:
#Do it at stem clean function
# remove stop words DONE
# stemming
# tokenize DONE
# DISCUSS: ignore numbers, so take only words as token, not integer
#AND LEMMATIZATION
#combine lowering all letters before making the token in one stem_clean function 
#so it will be easier to implement any semantic treatment
#delete period signs

#visualizatipo

In [3]:
# Opening JSON file
f1 = open(f'{path}/data/entityCol1.json')
f2 = open(f'{path}/data/entityCol2.json')
 
# returns JSON object as
# a dictionary
ec1 = json.load(f1)
ec2 = json.load(f2)

In [4]:
def stem_clean(arr):
    arr = [str(i) for i in arr]
    joint_words = ' '.join(arr)
    joint_words = str(joint_words).lower()
    val = word_tokenize(joint_words)
    valTok = list(set([w for w in val if not w.lower() in stop_words]))
    return valTok

In [5]:
#get all unique key and val on both EC
all_att_e1 = []
all_val_e1 = []
dict_E1 = {}
x = 1
for d in ec1:
    values_EP = []
    for key, val in (d.items()):
        if(key != 'id'): #exclude id into the calculation. ID is just for marking
            all_att_e1.append(key) #allKey
            treatedVal = str(val).lower()
            values_EP.append(treatedVal)
            all_val_e1.append(treatedVal) #allVal - treat number as string
    values_EP = stem_clean(values_EP)
    dict_E1[x] = values_EP
    x = x+1

attE1Keys = list(set(all_att_e1))
val_e1_tokens = list(set(stem_clean(all_val_e1)))


all_at_e2 = [] 
all_val_e2 = []
dict_E2 = {}
x = 101
for d in ec2:
    values_EP = []
    for key, val in (d.items()):
        if(key != 'id'):
            all_at_e2.append(key) #allKey
            treatedVal = str(val).lower()
            values_EP.append(treatedVal)
            all_val_e2.append(treatedVal) #allVal - treat number as string
    values_EP = stem_clean(values_EP)
    dict_E2[x] = values_EP
    x = x+1
attE2Keys = list(set(all_at_e2))
val_e2_tokens = list(set(stem_clean(all_val_e2)))


#common token
#Only take token that exists in both


<h3>Token Blocking </h3>

In [6]:
#common token
#Only take token that exists in both 
common_token = set(val_e1_tokens) & set(val_e2_tokens)

In [7]:
#from the common token create find all entity profile
#that has contains the token
e1_dict_token = {}
for t in common_token:
    x = [ ep for ep in dict_E1 if t in dict_E1[ep]]
    e1_dict_token[t] = x
    
e2_dict_token = {}
for t in common_token:
    x = [ ep for ep in dict_E2 if t in dict_E2[ep]]
    e2_dict_token[t] = x

In [8]:
all_blocks = []
for ct in common_token:
    new_block = Block(ct,e1_dict_token[ct], e2_dict_token[ct] )
    all_blocks.append(new_block)
    
all_blocks.sort(key=lambda x: x.b_cardinality, reverse=True) #sort based on its cardinality

In [9]:
#DataFrame for purpose Visualization Purpose
token_blocks_df = pd.DataFrame([x.as_dict() for x in all_blocks])
token_blocks_df.head(20)

,block_name,int_b1,int_b1_size,int_b2,int_b2_size,b_cardin,b_size
0,foundation,"[10, 13, 15, 16, 43, 57, 77, 80, 83]",9,"[106, 107, 125, 128, 141, 144, 152, 161, 170, ...",17,153,26
1,institute,"[7, 12, 19, 29, 79, 82, 89]",7,"[104, 110, 127, 148, 159, 167, 171, 190, 194, ...",11,77,18
2,limited,"[11, 20, 25, 38, 42, 64, 68, 87, 92]",9,"[111, 116, 117, 120, 164, 168, 199, 200]",8,72,17
3,associates,"[21, 53, 56, 58, 59, 60, 69, 73]",8,"[112, 121, 132, 136, 146, 162, 163, 172]",8,64,16
4,llc,"[18, 47, 62, 72, 76, 81, 94]",7,"[109, 124, 126, 134, 150, 158, 169, 173, 174]",9,63,16
5,corporation,"[3, 9, 24, 26, 27, 36, 37, 39, 49, 63]",10,"[115, 131, 140, 181, 182, 191]",6,60,16
6,industries,"[5, 31, 45, 51, 52, 55, 78, 96]",8,"[102, 130, 137, 143, 183, 193]",6,48,14
7,incorporated,"[1, 6, 30, 46, 54, 84]",6,"[103, 129, 138, 145, 156, 187, 188, 189]",8,48,14
8,ut,"[10, 11, 13, 15, 16, 32, 46, 54, 62, 70, 88]",11,"[106, 107, 151, 155]",4,44,15
9,ltd,"[8, 35, 71, 74, 75, 88]",6,"[123, 149, 154, 155, 165, 180]",6,36,12
10,italy,"[14, 16, 22, 41, 45, 77]",6,"[105, 107, 113, 135, 137, 141]",6,36,12
11,spain,"[6, 9, 25, 49]",4,"[103, 116, 133, 136, 145, 172, 173, 174]",8,32,12
12,female,"[43, 67, 68, 69, 76, 82]",6,"[104, 118, 119, 121, 127]",5,30,11
13,mauris,"[46, 71, 72]",3,"[123, 124, 144, 163, 173, 175, 187]",7,21,10
14,pc,"[22, 32, 61, 93, 97]",5,"[113, 133, 139, 157]",4,20,9
15,pellentesque,"[7, 23, 48, 82]",4,"[104, 114, 127, 199, 200]",5,20,9
16,libero,"[26, 27, 36, 37, 39, 49]",6,"[136, 143, 178]",3,18,9
17,non,"[7, 14, 44, 57, 79]",5,"[104, 105, 149]",3,15,8
18,nunc,"[38, 42, 60]",3,"[117, 150, 164, 175, 178]",5,15,8
19,sed,"[5, 78]",2,"[102, 141, 150, 154, 165, 178, 181]",7,14,9

<h3>Attribute Clustering</h3>

In [22]:
#Group based on the attribute for E1
#Group based on the attribute for E2
"""attE1Keys.remove('id')
attE2Keys.remove('id')
attE2Keys.remove('age')"""

attribute_blocks_ec1 = {}
attribute_blocks_ec2 = {}

#get all values for the attributes
for attribute in attE1Keys:
    attribute_blocks_ec1[attribute]= stem_clean(list(set([att[attribute] for att in ec1 if attribute in att.keys()])))

for attribute in attE2Keys:
    attribute_blocks_ec2[attribute] = stem_clean(list(set([att[attribute] for att in ec2 if attribute in att.keys()])))

# #Similarity Calculation

def jaccard_set(list1, list2):
    """Define Jaccard Similarity function for two sets"""
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return float(intersection) / union

sim_ec1_ec2 = {}
for each in attribute_blocks_ec1:
    temp = []
    for every in attribute_blocks_ec2:
        similarity = jaccard_set(attribute_blocks_ec1[each], attribute_blocks_ec2[every])
        print(each + " ===> " + every + " similarity score: " + str(similarity))
        if similarity > 0:
            temp.append(every)
    sim_ec1_ec2[each] = temp
    print("====================")

sim_ec2_ec1 = {}
for each in attribute_blocks_ec2:
    temp = []
    for every in attribute_blocks_ec1:
        similarity = jaccard_set(attribute_blocks_ec2[each], attribute_blocks_ec1[every])
        if similarity > 0:
            temp.append(every)
    sim_ec2_ec1[each] = temp

#Attribute Blocking


# testa = jaccard_set(attribute_blocks_ec1['domicile'], attribute_blocks_ec2['country'])

reportTo ===> author similarity score: 0.0
reportTo ===> year similarity score: 0.0
reportTo ===> employer similarity score: 0.0
reportTo ===> county similarity score: 0.0
reportTo ===> age similarity score: 0.0
reportTo ===> artist similarity score: 0.0
reportTo ===> company similarity score: 0.0
reportTo ===> manager similarity score: 0.0547945205479452
reportTo ===> domicile similarity score: 0.0
reportTo ===> gender similarity score: 0.0
reportTo ===> name similarity score: 0.0
reportTo ===> empName similarity score: 0.012345679012345678
reportTo ===> country similarity score: 0.0
reportTo ===> location similarity score: 0.0
====================
author ===> author similarity score: 1.0
author ===> year similarity score: 0.0
author ===> employer similarity score: 0.0
author ===> county similarity score: 0.0
author ===> age similarity score: 0.0
author ===> artist similarity score: 0.0
author ===> company similarity score: 0.0
author ===> manager similarity score: 0.0
author ===> domicile similarity score: 0.0
author ===> gender similarity score: 0.0
author ===> name similarity score: 0.0
author ===> empName similarity score: 0.0
author ===> country similarity score: 0.0
author ===> location similarity score: 0.0
====================
work ===> author similarity score: 0.0
work ===> year similarity score: 0.0
work ===> employer similarity score: 0.49586776859504134
work ===> county similarity score: 0.0
work ===> age similarity score: 0.0
work ===> artist similarity score: 0.0
work ===> company similarity score: 0.29069767441860467
work ===> manager similarity score: 0.014388489208633094
work ===> domicile similarity score: 0.0
work ===> gender similarity score: 0.0
work ===> name similarity score: 0.0
work ===> empName similarity score: 0.0
work ===> country similarity score: 0.0
work ===> location similarity score: 0.0
====================
artist ===> author similarity score: 0.0
artist ===> year similarity score: 0.0
artist ===> employer similarity score: 0.0
artist ===> county similarity score: 0.0
artist ===> age similarity score: 0.0
artist ===> artist similarity score: 1.0
artist ===> company similarity score: 0.0
artist ===> manager similarity score: 0.0
artist ===> domicile similarity score: 0.0
artist ===> gender similarity score: 0.0
artist ===> name similarity score: 0.0
artist ===> empName similarity score: 0.0
artist ===> country similarity score: 0.0
artist ===> location similarity score: 0.0
====================
company ===> author similarity score: 0.0
company ===> year similarity score: 0.0
company ===> employer similarity score: 0.37681159420289856
company ===> county similarity score: 0.0
company ===> age similarity score: 0.0
company ===> artist similarity score: 0.0
company ===> company similarity score: 0.5189873417721519
company ===> manager similarity score: 0.013513513513513514
company ===> domicile similarity score: 0.0
company ===> gender similarity score: 0.0
company ===> name similarity score: 0.0
company ===> empName similarity score: 0.0
company ===> country similarity score: 0.0
company ===> location similarity score: 0.0
====================
manager ===> author similarity score: 0.0
manager ===> year similarity score: 0.0
manager ===> employer similarity score: 0.0
manager ===> county similarity score: 0.0
manager ===> age similarity score: 0.0
manager ===> artist similarity score: 0.0
manager ===> company similarity score: 0.0
manager ===> manager similarity score: 0.0
manager ===> domicile similarity score: 0.0
manager ===> gender similarity score: 0.0
manager ===> name similarity score: 0.0
manager ===> empName similarity score: 0.0
manager ===> country similarity score: 0.0
manager ===> location similarity score: 0.0
====================
domicile ===> author similarity score: 0.0
domicile ===> year similarity score: 0.0
domicile ===> employer similarity score: 0.0
domicile ===> county similarity score: 0.0
domicile ===> age similarity score: 0.0
domicile ===> artist similarity score: 0.0
domicile ===> company similarity score: 0.0
domicile ===> manager similarity score: 0.0
domicile ===> domicile similarity score: 0.05555555555555555
domicile ===> gender similarity score: 0.0
domicile ===> name similarity score: 0.0
domicile ===> empName similarity score: 0.0
domicile ===> country similarity score: 0.07692307692307693
domicile ===> location similarity score: 0.0
====================
gender ===> author similarity score: 0.0
gender ===> year similarity score: 0.0
gender ===> employer similarity score: 0.0
gender ===> county similarity score: 0.0
gender ===> age similarity score: 0.0
gender ===> artist similarity score: 0.0
gender ===> company similarity score: 0.0
gender ===> manager similarity score: 0.0
gender ===> domicile similarity score: 0.0
gender ===> gender similarity score: 1.0
gender ===> name similarity score: 0.0
gender ===> empName similarity score: 0.0
gender ===> country similarity score: 0.0
gender ===> location similarity score: 0.0
====================
city ===> author similarity score: 0.0
city ===> year similarity score: 0.0
city ===> employer similarity score: 0.0
city ===> county similarity score: 0.0
city ===> age similarity score: 0.0
city ===> artist similarity score: 0.0
city ===> company similarity score: 0.0
city ===> manager similarity score: 0.0
city ===> domicile similarity score: 0.05555555555555555
city ===> gender similarity score: 0.0
city ===> name similarity score: 0.0
city ===> empName similarity score: 0.0
city ===> country similarity score: 0.037037037037037035
city ===> location similarity score: 1.0
====================
name ===> author similarity score: 0.004694835680751174
name ===> year similarity score: 0.0
name ===> employer similarity score: 0.0
name ===> county similarity score: 0.0
name ===> age similarity score: 0.0
name ===> artist similarity score: 0.0
name ===> company similarity score: 0.0
name ===> manager similarity score: 0.025362318840579712
name ===> domicile similarity score: 0.0
name ===> gender similarity score: 0.0
name ===> name similarity score: 0.2454212454212454
name ===> empName similarity score: 0.07063197026022305
name ===> country similarity score: 0.0
name ===> location similarity score: 0.0
====================
country ===> author similarity score: 0.0
country ===> year similarity score: 0.0
country ===> employer similarity score: 0.0
country ===> county similarity score: 0.0
country ===> age similarity score: 0.0
country ===> artist similarity score: 0.0
country ===> company similarity score: 0.0
country ===> manager similarity score: 0.0
country ===> domicile similarity score: 0.45454545454545453
country ===> gender similarity score: 0.0
country ===> name similarity score: 0.0
country ===> empName similarity score: 0.0
country ===> country similarity score: 0.5405405405405406
country ===> location similarity score: 0.03125
====================
owner ===> author similarity score: 0.0
owner ===> year similarity score: 0.0
owner ===> employer similarity score: 0.0
owner ===> county similarity score: 0.0
owner ===> age similarity score: 0.0
owner ===> artist similarity score: 0.0
owner ===> company similarity score: 0.0
owner ===> manager similarity score: 0.0
owner ===> domicile similarity score: 0.0
owner ===> gender similarity score: 0.0
owner ===> name similarity score: 0.0
owner ===> empName similarity score: 0.0
owner ===> country similarity score: 0.0
owner ===> location similarity score: 0.0
====================

In [11]:
sim_ec1_ec2

{'reportTo': ['manager', 'empName'],
 'author': ['author'],
 'work': ['employer', 'company', 'manager'],
 'artist': ['artist'],
 'company': ['employer', 'company', 'manager'],
 'manager': [],
 'domicile': ['domicile', 'country'],
 'gender': ['gender'],
 'city': ['domicile', 'country', 'location'],
 'name': ['author', 'manager', 'name', 'empName'],
 'country': ['domicile', 'country', 'location'],
 'owner': []}

In [12]:
sim_ec2_ec1

{'author': ['author', 'name'],
 'year': [],
 'employer': ['work', 'company'],
 'county': [],
 'age': [],
 'artist': ['artist'],
 'company': ['work', 'company'],
 'manager': ['reportTo', 'work', 'company', 'name'],
 'domicile': ['domicile', 'city', 'country'],
 'gender': ['gender'],
 'name': ['name'],
 'empName': ['reportTo', 'name'],
 'country': ['domicile', 'city', 'country'],
 'location': ['city', 'country']}

In [13]:
attribute_list1 = []
for a in sim_ec1_ec2:
    attInst = Attribute(a, 'E1', sim_ec1_ec2[a])
    attribute_list1.append(attInst)

In [15]:
attribute_list1[0].edges

['manager', 'empName']

In [ ]:
sim_ec1_ec2['gender']

In [ ]:
for a in sim_ec1_ec2:
    print(a)